$('.<%= @score.start_time.to_date %> .score-in-td, .<%= @score.start_time.to_date %> .has-score-detail').remove();
$(".flash-messages").remove();
$('.searched-score').replaceWith('<div class="flash-messages alert alert-success" style="margin: 1.3rem auto auto auto;"><%= @success_message %></div>');
$('.total-score-result').html('<%= "#{@scores_in_current_month.calc_total_score} 円" %>');
$('.average-score-result').html('<%= "#{@scores_in_current_month.calc_average_score} 円" %>');
