<h1>売上</h1>

<%= form_with(model: @score, local: true) do |f| %>

  <div class="time">
    <%= f.label :start_time %>
    <%= f.date_select :start_time %>
  </div>

  <div class="score">
    <%= f.label :score %>
    <%= f.text_field :score %> 円
  </div>

  <div class="memo">
    <%= f.label :memo %>
    <%= f.text_area :memo, size: "40x5" %>
  </div>


  <div class="submit">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>

<% end %>