$(".error-messages-field").remove();
<% if @score.errors.present? %>
  $('#new-score').prepend("<%= j(render('shared/error_messages', object: @score)) %>");
<% else %>
$('.<%= @score.start_time.to_date %>').addClass("has-events")
$('.<%= @score.start_time.to_date %>').html("<%= j(render('calendar_td', score: @score)) %>")
  $('.new-score-form').replaceWith("<%= j(render('scores/searches/score', searched_score: @score)) %>")
  $('.js-searched-score').prepend('<div class="flash-messages alert alert-success"><%= @success_message %></div>')
<% end %>