<div class="form-page text-center edit-page">
  <main class="form-area">
    <h1>ユーザー編集</h1>
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "ユーザーネーム", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>
      </div>

      <%= f.submit '変更する', class: "btn btn-lg btn-primary form-group" %>
    <% end %>
    <%= link_to "戻る", user_path(@user) %>
  </main>
</div>
