<p><%= @score_detail.pickup_address %></p>
<p><%= @score_detail.dropoff_address %></p>
<p><%= @score_detail.pickup_time.strftime("%-H時%-M分%-S秒") %></p>
<p><%= @score_detail.dropoff_time.strftime("%-H時%-M分%-S秒") %></p>

<p id="map"></p>

<style>
#map {
  height: 80vh;
  width: 80vw;
}
</style>

<%= javascript_pack_tag 'score_details/show_pack' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
