<div class="simple-calendar">
  <div class="calendar-heading row">
    <div class="calendar-heading main col-6">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
      <span class="calendar-title"><%= t('date.month_names')[date_range.last.month] + '度' %> <%= date_range.last.year %></span>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
    </div>
      <%= form_with url: scores_searches_path, method: :get, class: "col-6", local: true do |f| %>
        <div class="form-group">
          <%= f.date_select :selected_month, {discard_day: true, use_month_numbers: true, selected: start_date}, {class: 'form-control', style: 'display: inline-block;width: auto;'} %>
        </div>
        <%= f.submit "Go", class: "btn btn-primary" %>
      <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: set_classes_for(day, start_date, sorted_events, date_range) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="score-details row">
  <div class="calculated-scores col-6">
    <h3><%= t('date.month_names')[date_range.last.month] + '度' %></h3>
    <p><%= "合計: #{total_score_in_current_month(@scores_in_current_month)} 円" %></p>
    <p><%= "平均: #{average_score_in_current_month(@scores_in_current_month)} 円" %></p>
  </div>
  <div class="js-searched-score-field col-6">
    <h3>詳細</h3>
  </div>
</div>