<div class="simple-calendar">
  <div class="calendar-heading">
    <div class="main-field">
      <div class="previous-link">
        <%= link_to(calendar.url_for_previous_view) do %>
          <i class="fas fa-angle-double-left"></i>
        <% end %>
      </div>
      <span class="calendar-title"><%= date_range.last.year %>年<%= t('date.month_names')[date_range.last.month] + '度' %></span>
      <span class="js-toggle-button fas fa-caret-down"></span>
      <div class="next-link">
        <%= link_to(calendar.url_for_next_view) do %>
          <i class="fas fa-angle-double-right"></i>
        <% end %>
      </div>
    </div>
      <%= render 'scores/month_jump', start_date: start_date %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: set_classes_for(day, start_date, sorted_events, date_range) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="score-status">
  <div class="row">
    <div class="calculated-score-field col-12">
      <h3><%= t('date.month_names')[date_range.last.month] + '度' %></h3>
      <div class="total-score">
        <p>合計:</p> <p class="total-score-result"><%= "#{@scores_in_current_month.calc_total_score} 円" %></p>
      </div>
      <div class="average-score">
        <p>平均:</p> <p class="average-score-result"><%= "#{@scores_in_current_month.calc_average_score} 円" %></p>
      </div>
    </div>
  </div>
</div>
<!-- modal_start -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Modal body
      </div>
    </div>
  </div>
</div>
<!-- modal_end -->
