<h3><%= params[:date] %> 詳細</h3>
<div class="js-searched-score">
  <% if @searched_score.nil? %>
    <div class="new-score-form">
      <%= render partial: 'scores/form', locals: { score: @score, start_time: start_time } %>
    </div>
  <% else %>
    <p>売上: <%= @searched_score.score %> 円</p>
    <p>メモ: <%= @searched_score.memo %></p>
    <%= link_to score_path(@searched_score), method: :delete, data: { confirm: '売上を削除しますか？' }, class: "delete-button" do %>
      <span class="far fa-trash-alt"></span>
    <% end %>
  <% end %>
  <%= form_with url: check_scores_searches_path, method: :get, local: true do %>
    <input name="start_time" type="hidden" value="<%= start_time %>">
    <%= button_tag '日報作成', type: 'submit', class: 'btn btn-success', method: :get %>
  <% end %>
</div>