<!DOCTYPE html>
<html>
  <head>
    <title>SalesCalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <% if logged_in? %>
    <%= render 'shared/header'%>
  <% end %>
  <div class="container-xl">
    <%= yield %>
  </div>
</html>
